@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.main-skeleton {
  position: relative;
  width: 100vw;
  height: 700px;
  background-color: #fff;
}

.main-skeleton__poster {
  position: absolute;
  bottom: 50px;
  left: 5%;
  max-width: 250px;
  width: 250px;
  height: 375px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #d5d6dd;
}

.main-skeleton__title {
  position: absolute;
  top: 230px;
  right: 4%;
  width: 360px;
  height: 60px;
  border-radius: 5px;
}

.main-skeleton__summary {
  position: absolute;
  bottom: 50px;
  right: 4%;
  width: 50%;
  height: 260px;
  border-radius: 5px;
}

.list-skeleton {
  display: flex;
  gap: 50px 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% 1.5%;
}

.card-skeleton {
  position: relative;
  display: flex;
  flex-basis: 49%;
  min-width: 625px;
  max-width: 625px;
  height: 280px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
}

.card-skeleton__poster {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 180px;
  height: 270px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #d5d6dd;
}

.card-skeleton__data {
  position: absolute;
  left: 200px;
  padding: 0 30px;
}

.card-skeleton__heart {
  width: 28px;
  height: 28x;
  position: absolute;
  top: 0;
  left: 375px;
  cursor: pointer;
}

.card-skeleton__title {
  width: 300px;
  height: 29px;
  border-radius: 5px;
}

.card-skeleton__genres {
  width: 290px;
  height: 27px;
  border-radius: 5px;
}

.card-skeleton__summary {
  width: 360px;
  height: 85px;
  margin-top: 50px;
  border-radius: 5px;
}

.main-skeleton__poster,
.main-skeleton__title,
.main-skeleton__summary,
.card-skeleton__poster,
.card-skeleton__title,
.card-skeleton__genres,
.card-skeleton__summary {
  background-color: #ededed;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .3) 50%,
      rgba(255, 255, 255, 0) 60%)#ededed;
  background-size: 220% 100%;
  background-position-x: 120%;
  animation: 1s loading ease-in-out infinite;
}

@media only screen and (max-width: 720px) {
  .main-skeleton__poster {
    display: none;
  }

  .main-skeleton__summary {
    width: 70%;
  }

  .card-skeleton {
    min-width: 380px;
    height: 270px;
    padding: 0px;
    border: unset;
  }

  .card-skeleton__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 270px;
    border-radius: 5px 0 0 5px;
    box-shadow: unset;
    cursor: pointer;
  }

  .card-skeleton__data {
    left: 180px;
    padding: 12px;
  }

  .card-skeleton__heart {
    position: unset;
    margin-bottom: 10px;
  }

  .card-skeleton__title {
    width: 174px;
  }

  .card-skeleton__genres {
    display: none;
  }

  .card-skeleton__summary {
    width: 176px;
    margin: 30px 0 0;
  }

}