@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  height: 80px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
  z-index: 10;
}

.header__logo {
  width: fit-content;
  max-width: 1920px;
  height: 80px;
  line-height: 80px;
  margin: 0 5%;
  font-family: 'Black Han Sans', sans-serif !important;
  font-size: 1.8rem;
}

.header__logo::after {
  content: "";
  float: right;
  width: 15px;
  height: 15px;
  margin: 15px 10px 10px;
  border-radius: 50%;
  background: #FF7B54;
}