.card-movie {
  position: relative;
  display: flex;
  flex-basis: 49%;
  min-width: 625px;
  max-width: 625px;
  height: 280px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
}

.card-movie__poster {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 180px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  cursor: pointer;
}

.card-movie__trailer {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 180px;
  height: 270px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  z-index: 5;
}

.card-movie__trailer button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: 35px;
  padding: 8px 12px;
  border: 1.8px solid #fff;
  border-radius: 20px;
  background: unset;
  text-align: center;
  text-transform: uppercase;
  line-height: 2px;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
}

.card-movie__trailer:hover {
  top: -30px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-movie__trailer:hover>button {
  visibility: visible;
  top: 45%;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-movie__trailer:hover+.card-movie__poster {
  top: -30px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-movie__heart {
  width: 28px;
  height: 28x;
  position: absolute;
  top: 0;
  left: 375px;
  cursor: pointer;
}

.card-movie__data {
  position: absolute;
  left: 200px;
  width: 50%;
  height: 240px;
  padding: 0 30px;
  overflow: hidden;
}

.card-movie__title {
  width: inherit;
  margin: 0 0 12px 2px;
  font-size: 1.3rem
}

.card-movie__genres {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.card-movie__genre {
  width: fit-content;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
  border-radius: 20px;
  cursor: pointer;
}

.card-movie__summary {
  position: absolute;
  bottom: 0;
  margin-top: 60px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.7;
}

@media only screen and (max-width: 425px) {
  .card-movie {
    width: 100%;
    min-width: 300px;
    max-width: unset;
    flex-basis: unset;
    margin: 0 4%;
  }

  .card-movie__trailer:hover,
  .card-movie__trailer:hover+.card-movie__poster {
    top: 0;
  }

  .card-movie__trailer,
  .card-movie__poster {
    top: -1px;
    left: 0;
    height: 281px;
    border-radius: 5px 0 0 5px;
    box-shadow: unset;
  }

  .card-movie__data {
    width: 40%;
    left: 180px;
    padding: 0 10px;
  }

  .card-movie__heart,
  .card-movie__summary {
    display: none;
  }

  .card-movie__genres {
    display: unset;
    position: absolute;
    width: fit-content;
    bottom: 0;
  }
}
