@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif !important;
}

button:focus {
  border: none;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #eaebec;
}

.container {
  margin-top: 80px;
}

.list-movie {
  display: flex;
  gap: 50px 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 5% auto;
}

@media only screen and (max-width: 425px) {
  .list-movie {
    gap: 35px 20px;
    margin: 10% 0;
  }
}