.movies_movie {
  position: relative;
  display: flex;
  flex-basis: 49%;
  min-width: 625px;
  max-width: 650px;
  height: 280px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
}

.movies_movie img {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 180px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  cursor: pointer;
}

.movies_movie img:hover {
  top: -31px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.movies_movie .movie_data {
  position: absolute;
  left: 200px;
  padding: 0 30px;
  overflow: hidden;
}

.movie_data .movie_title {
  margin: 0 0 12px 2px;
  font-size: 20px;
}

.movie_data .movie_genres {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.movie_data .movie_genres li {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
  border-radius: 20px;
  cursor: pointer;
}

.movie_data .movie_summary {
  margin-top: 60px;
  width: fit-content;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.7;
}