:root {
  --loading-grey: #ededed;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.skeleton {
  position: relative;
  display: flex;
  flex-basis: 49%;
  min-width: 625px;
  max-width: 650px;
  height: 280px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
}

.skeleton_img {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 180px;
  height: 270px;
  border-radius: 5px;
  box-shadow: -2px 6px 19px 0px #d5d6dd;
}

.skeleton_data {
  position: absolute;
  left: 200px;
  padding: 0 30px;
}

.skeleton_title {
  width: 360px;
  height: 29px;
  border-radius: 5px;
}

.skeleton_genres {
  width: 290px;
  height: 27px;
  border-radius: 5px;
}

.skeleton_summary {
  width: 360px;
  height: 85px;
  margin-top: 50px;
  border-radius: 5px;
}

.skeleton_img,
.skeleton_title,
.skeleton_genres,
.skeleton_summary {
  background-color: var(--loading-grey);
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .3) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 220% 100%;
  background-position-x: 120%;
  animation: 1s loading ease-in-out infinite;
}